/*
 * CSS for HolaFood
 * primary color: #FF773D
 */

body { 
    padding-top: 50px;
    background-color: #f2f2f2;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    background-color: #F90;	
    background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent)
}

.load-more {
    margin-top: 10px;
}

.form-control, .form-group-lg .form-control {
    border-radius: 0;
}

.btn-lg, .btn {
    border-radius: 0;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

/* Footer */
footer {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-end {
    background-color: #373941;
    color: #fff;
    padding: 15px 0px;
}

.footer-end .footer-text {
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    padding: 0;
    margin: 0;
}

footer .row {
}

footer .item {
    padding-left: 10px;
    padding-right: 10px;
}

footer .item h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

footer .item ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer .item i {
    color: #FF773D;
}

footer .item ul li a {
    color: #000;
}

footer .item ul li a:hover {
    text-decoration: none;
    color: #FF773D
}

footer .item ul li {
    padding: 5px 0;
}



/* Login */
.panel-login {
    margin-top: 20px;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

/* Filter Box */
.filter-box {
    background-image: url(../images/filter-box-bg.jpg);
    background-size: cover;
    padding: 120px 0px;
}

.filter-box .flexslider {
    margin: 0;
}

.filter-box .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #FF773D;
    color: #fff;
    border: 1px solid #FF773D;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5;
    padding: 15px;
}

.filter-box .nav-tabs>li.active>a:after {
    background: #FF773D none repeat scroll 0 0;
    content: "";
    height: 20px;
    left: 40%;
    position: absolute;
    top: 80%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 20px;
}

.filter-box .tab-content {
    background: #fff;
    padding: 30px;
}

.filter-box .filter-slider-image img {
    width: 100%;
}

.filter-form .input-group-addon {
    background-color: #FF773D;
    color: #fff;
}

/* Main site */
h2.block-title {
    margin: 0;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 11px;
    border-bottom: 1px solid #FF773D;
}

h2.block-title span {
    background-color: #FF773D;
    padding: 10px;
    color: #fff;
    font-size: 22px;
}

.site-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-content .list-item {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.site-content .item {
    padding-left: 5px;
    padding-right: 5px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}

.site-content .item img {
    width: 100%;
}

.site-content .item:hover .item-info {
    height: 250px;
    cursor: pointer;
}

.site-content .item:hover .comment-box {
    visibility: visible;
    opacity: 1;
}

.site-content .item-info {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 90px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: height 0.5s linear;
}

.site-content .item-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.site-content .comment-box {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.site-content .comment-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.site-content .comment-box ul li {
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid #fff;
}

.site-content .comment-box p {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.site-content .comment-box img {
    width: 50px;
}

.site-content .comment-box .user-avatar {
    float: left;
    padding-right: 10px;
}

.site-content .item-rating {
    font-size: 12px;
}

.site-content .item-rating i {
    color: yellow;
    font-size: 14px;
}

.site-content .item-action-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.site-content .item-action-box span {
    margin-right: 12px;
}

.site-content .bookmark {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.site-content .bookmark button {
    padding: 3px 10px;
    border: 0;
    border-radius: 8px;
    background-color: #FF773D;
}

.site-content .bookmark button:hover {
    background-color: #ff8450;
}

/* Loading Button */
#fountainG{
    position:relative;
    width:60px;
    height:7px;
    margin:auto;
    margin-top: 10px;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(0,0,0);
    width:7px;
    height:7px;
    animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
    animation-duration:0.645s;
    -o-animation-duration:0.645s;
    -ms-animation-duration:0.645s;
    -webkit-animation-duration:0.645s;
    -moz-animation-duration:0.645s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

#fountainG_1{
    left:0;
    animation-delay:0.256s;
    -o-animation-delay:0.256s;
    -ms-animation-delay:0.256s;
    -webkit-animation-delay:0.256s;
    -moz-animation-delay:0.256s;
}

#fountainG_2{
    left:7px;
    animation-delay:0.3225s;
    -o-animation-delay:0.3225s;
    -ms-animation-delay:0.3225s;
    -webkit-animation-delay:0.3225s;
    -moz-animation-delay:0.3225s;
}

#fountainG_3{
    left:15px;
    animation-delay:0.389s;
    -o-animation-delay:0.389s;
    -ms-animation-delay:0.389s;
    -webkit-animation-delay:0.389s;
    -moz-animation-delay:0.389s;
}

#fountainG_4{
    left:22px;
    animation-delay:0.4555s;
    -o-animation-delay:0.4555s;
    -ms-animation-delay:0.4555s;
    -webkit-animation-delay:0.4555s;
    -moz-animation-delay:0.4555s;
}

#fountainG_5{
    left:30px;
    animation-delay:0.522s;
    -o-animation-delay:0.522s;
    -ms-animation-delay:0.522s;
    -webkit-animation-delay:0.522s;
    -moz-animation-delay:0.522s;
}

#fountainG_6{
    left:37px;
    animation-delay:0.5885s;
    -o-animation-delay:0.5885s;
    -ms-animation-delay:0.5885s;
    -webkit-animation-delay:0.5885s;
    -moz-animation-delay:0.5885s;
}

#fountainG_7{
    left:45px;
    animation-delay:0.645s;
    -o-animation-delay:0.645s;
    -ms-animation-delay:0.645s;
    -webkit-animation-delay:0.645s;
    -moz-animation-delay:0.645s;
}

#fountainG_8{
    left:52px;
    animation-delay:0.7115s;
    -o-animation-delay:0.7115s;
    -ms-animation-delay:0.7115s;
    -webkit-animation-delay:0.7115s;
    -moz-animation-delay:0.7115s;
}



@keyframes bounce_fountainG{
    0%{
        transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
        -o-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
        -ms-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
        -webkit-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
        -moz-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

/* Product Detail */
.product {
    padding: 60px 10px 20px 10px;
}

.product .product-feature {
    background-color: #fff;
}

.product-feature .feature-img {
    padding: 0;
}

.product-feature .feature-img img {
    width: 100%;
}

.product-feature .product-info h1 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
}

.product-info p {
    margin-top: 10px;
    text-align: justify;
}

.product-info .item-rating span {
    font-size: 12px;
}

.product-info i {
    color: #FF773D;
    font-size: 14px;
}

.product-info .bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-info .bookmark i {
    color: #fff;
}

.product-info .bookmark button {
    padding: 5px 10px;
    border: 0;
    border-radius: 50%;
    background-color: #FF773D;
}

.product-content {
    padding-bottom: 60px;
}

/* Review */
.review {
    padding-left: 10px;
    padding-right: 10px;
}

.review .review-container {
    padding: 15px;
    background-color: #fff;
}

.review h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.review form {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.review .rating {
    margin-bottom: 5px;
}

.review .rating i {
    font-size: 16px;
    color: #FF773D;
}

.review .review-list {
    list-style-type: none;
    padding: 0;
}

.review .review-list li {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.review .review-list li:last-child {
    border: none;
}

.review-list li .user-avatar {
    float: left;
}

.review-list li .user-avatar img {
    border-radius: 50%;
    width: 75px;
    margin-right: 15px;
}

/* Related */
.related {
    padding-left: 10px;
    padding-right: 10px;
}

.related .related-container {
    padding: 15px;
    background-color: #fff;
}

.related h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.related ul {
    list-style-type: none;
    padding: 0;
}

.related li {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.related li:last-child {
    padding-bottom: 0;
    border: none;
}

.related li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}